body {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 50px 50px;
}

.shirtbox {
    border: 2px solid #6BACDA;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer {
    border: 0px solid #6BACDA;
    border-bottom: 2px solid #6BACDA;
    border-left: 2px solid #6BACDA;
    border-right: 2px solid #6BACDA;
    height: 34px;
    display: flex;
    justify-content: space-between;
}

.footer .item-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #6BACDA;
}

.footer .item-container:last-child {
  border-right: 0;
}

.footer .item-container i {
  font-size: 20px;
  color: #6BACDA;
}

.footer .item-container .bluecolorbox {
  height: 20px;
  width: 20px;
  background-color: #6BACDA;
}
.footer .item-container .pinkcolorbox {
  height: 20px;
  width: 20px;
  background-color: #D482AA;
}

.footer .item-container .yellowcolorbox {
  height: 20px;
  width: 20px;
  background-color: #D8AD7A;
}

p {
  margin-top: 20px;
  font-family: Arial;
  color: #5CA4D7;
  font-size: 18px;
}
